/* #c4f750 yellow #40a3aa blue #fedfc0 crema */


.herosection__container {
    height: 70vh;
    background-color: #161616;
    color: white ;
    
}

.herosection__subtitles {
    font-weight: 300;
}

.herosection__left {
    padding: 5rem 1rem 5rem 3rem;
    max-width: 70ch;
} 

.benefits__section{
    font-weight: 700;
    font-size: 1.3rem;
    padding-left:10%;
    padding-right:10%;
    
}

/* .herosection__left > * + * {
    margin-top: 2rem;
} */

.spoonsor__section{
    background-color: #fedfc0;
}

.spoonsor__text {
    width: 40ch;
    margin: auto;
}

.getintouch__button{
    background-color:  #40a3aa !important;
    font-weight: 600 !important;
}