.leaflet-container {
    height: 20vw !important;
    width: 30vw !important;
}


.form-post-game {
    padding: 3rem;
    border: 2px black solid;
    border-radius: 5px;
    background-color:rgb(255, 255, 255) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 75%;
}

.post-page-container {
    height: calc(100vw- 4rem);
    width: 99.1vw;
    background-color: #fedfc0;
     padding-top: 3rem;
     padding-bottom: 3rem;
}

.post-game-button{
    background-color:  #40a3aa !important;
    font-weight: 600 !important;
    color: white;
    border-radius: 10px;
    padding-top:1rem;
    padding-bottom:1rem;
    width: 15rem;
    margin:auto
}
    
